axios
django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
huggingface-hub
numpy
opencv-python
pandas
pillow
PyJWT
python-dotenv
requests
surya-ocr
torch
torchvision
torchaudio
transformers
googletrans==4.0.0-rc1